n8n/bitapp-agent-workflow.json
{
  "name": "BiT App - Orquestrador (Gemini)",
  "nodes": [
    {
      "parameters": {
        "path": "bit/agent",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook_1",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst tipo = body.tipo || '';\n\nlet message = '';\nif (tipo === 'assessment' || body.nome) {\n  const parts = [];\n  if (body.nome) parts.push('Nome: ' + body.nome);\n  if (body.idade) parts.push('Idade: ' + body.idade);\n  if (body.escolaridade) parts.push('Escolaridade: ' + body.escolaridade);\n  if (body.experiencia) parts.push('Experiencia: ' + body.experiencia);\n  if (body.hardSkills && body.hardSkills.length) parts.push('Hard Skills: ' + body.hardSkills.join(', '));\n  if (body.softSkills && body.softSkills.length) parts.push('Soft Skills: ' + body.softSkills.join(', '));\n  if (body.tecnologias && body.tecnologias.length) parts.push('Tecnologias: ' + body.tecnologias.join(', '));\n  message = 'Avaliacao de carreira para: ' + parts.join(' | ');\n} else if (tipo === 'mental-health' || body.userId) {\n  message = body.message || 'Avaliacao de saude mental para usuario ' + (body.userId || 'desconhecido');\n} else {\n  message = body.message || JSON.stringify(body);\n}\n\nreturn [{ json: { message: message, tipo: tipo, originalBody: body } }];"
      },
      "id": "code_format",
      "name": "Formatar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Responda SOMENTE com uma palavra: ASSESSMENT ou MENTAL_HEALTH. ASSESSMENT = avaliacao de carreira, perfil profissional, skills, compatibilidade com vagas. MENTAL_HEALTH = saude mental, emocoes, bem-estar, humor, estresse.\\n\\nMensagem do usuario: {{ $json.message }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 10\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "gemini_classify",
      "name": "Classificar Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\ntry {\n  text = response.candidates[0].content.parts[0].text.trim().toUpperCase();\n} catch (e) {\n  text = 'MENTAL_HEALTH';\n}\nreturn [{ json: { intent: text } }];"
      },
      "id": "parse_classify",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.intent }}",
                    "operation": "contains",
                    "value2": "ASSESSMENT"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.intent }}",
                    "operation": "contains",
                    "value2": "MENTAL_HEALTH"
                  }
                ]
              },
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "switch_router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Voce e o agente de Avaliacao Profissional do BiT App. Analise o perfil do usuario e retorne EXATAMENTE um JSON valido. Estrutura obrigatoria: { compatibilidade: numero 0-100, nivel: string (Estagiario/Junior/Pleno/Senior), pontosFortes: array de strings, gaps: array de strings, planoDesenvolvimento: array de strings }. Analise as skills, tecnologias e experiencia do usuario para gerar uma avaliacao realista e personalizada. Responda APENAS com o JSON, sem texto adicional.\\n\\nDados do usuario: {{ $('Formatar Request').first().json.message }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 2048,\n    \"candidateCount\": 1\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "gemini_assessment",
      "name": "Assessment Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Voce e o agente de Saude Mental do BiT App. Avalie o estado emocional do usuario com empatia e acolhimento. Retorne EXATAMENTE um JSON valido. Estrutura obrigatoria: { nivel: string (estavel/alerta/critico), alerta: string com observacao, recomendacoes: array de strings, acoes: array de strings, canaisApoio: array de strings incluindo CVV Disque 188 }. Se identificar risco imediato, inclua recomendacao de contato com CVV (188). Responda APENAS com o JSON, sem texto adicional.\\n\\nDados do usuario: {{ $('Formatar Request').first().json.message }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 2048,\n    \"candidateCount\": 1\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "gemini_mental_health",
      "name": "Mental Health Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\ntry {\n  text = response.candidates[0].content.parts[0].text.trim();\n  // Remove possible markdown code block markers\n  if (text.startsWith('```')) {\n    text = text.replace(/^```(?:json)?\\s*/, '').replace(/```\\s*$/, '');\n  }\n} catch (e) {\n  text = JSON.stringify({ error: 'Falha ao processar resposta da IA' });\n}\n\n// Parse the JSON string into an object so the backend receives proper JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = { raw: text };\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "parse_response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond_1",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Formatar Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Request": {
      "main": [
        [
          {
            "node": "Classificar Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Assessment Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mental Health Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mental Health Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
